<mat-toolbar color="accent">
    <span>Tasks</span>
</mat-toolbar>



<div *ngIf="tasks">

    <mat-card *ngFor="let task of tasks; let idx = index" class="task-card">
        <mat-card-header>

            <mat-card-title>
                {{task.description}}
            </mat-card-title>
            <mat-card-subtitle>
                {{task.priority}}
            </mat-card-subtitle>

            <mat-card-subtitle>
                {{task.due}}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
            <button mat-raised-button color="primary" type="button" (click)="editTask(idx)">
                Edit
            </button>
            <button mat-raised-button color="warn" type="button" (click)="removeTask(idx)">
                Remove
            </button>
        </mat-card-actions>

    </mat-card>
</div>
